@import "typogrpahy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Basier Circle";
    font-weight: 400;
    src: url('/fonts/BasierCircle-Regular.woff2') format('woff2'), url('/fonts/BasierCircle-Regular.woff') format('woff');
  }
  @font-face {
    font-family: "Basier Circle";
    font-weight: 500;
    src: url('/fonts/BasierCircle-Medium.woff2') format('woff2'), url('/fonts/BasierCircle-Medium.woff') format('woff');
  }
  @font-face {
    font-family: "Basier Circle";
    font-weight: 600;
    src: url('/fonts/BasierCircle-SemiBold.woff2') format('woff2'), url('/fonts/BasierCircle-SemiBold.woff') format('woff');
  }
  @font-face {
    font-family: "Basier Circle";
    font-weight: 700;
    src: url('/fonts/BasierCircle-Bold.woff2') format('woff2'), url('/fonts/BasierCircle-Bold.woff') format('woff');
  }

  @font-face {
    font-family: "Basier Circle";
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/BasierCircle-Italic.woff2') format('woff2'), url('/fonts/BasierCircle-Italic.woff') format('woff');
  }
  @font-face {
    font-family: "Basier Circle";
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/BasierCircle-MediumItalic.woff2') format('woff2'), url('/fonts/BasierCircle-MediumItalic.woff') format('woff');
  }
  @font-face {
    font-family: "Basier Circle";
    font-weight: 600;
    font-style: italic;
    src: url('/fonts/BasierCircle-SemiBoldItalic.woff2') format('woff2'), url('/fonts/BasierCircle-SemiBoldItalic.woff') format('woff');
  }
  @font-face {
    font-family: "Basier Circle";
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/BasierCircle-BoldItalic.woff2') format('woff2'), url('/fonts/BasierCircle-BoldItalic.woff') format('woff');
  }

  :is(p,li):not(:is(.paragraph-sm,.paragraph-base,.paragraph-lg) > :is(p,li)) {
    @apply text-slate-600
  }
}

@layer base {
  :root {
    --color-slate-50: 248 250 252;
    --color-slate-100: 241 245 249;
    --color-slate-200: 226 232 240;
    --color-slate-300: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-500: 100 116 139;
    --color-slate-600: 71 85 105;
    --color-slate-700: 51 65 85;
    --color-slate-800: 30 41 59;
    --color-slate-900: 15 23 42;
  }
}

@layer utilities {
  .color-slate-inverted {
    --color-slate-900: 254 255 255;
    --color-slate-800: 248 250 252;
    --color-slate-700: 241 245 249;
    --color-slate-600: 226 232 240;
    --color-slate-500: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-300: 100 116 139;
    --color-slate-200: 71 85 105;
    --color-slate-100: 51 65 85;
    --color-slate-50: 30 41 59;
    /*--color-slate-50: 15 23 42;*/
  }
}
